<footer class="footer-top">
    <img src="~/images/AnhFooter.png" class="footer__overlay d-none d-xl-block" alt="">
    <div class="container" style="position: relative;">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-sm-6 ps-5 ps-sm-5">
                <div class="mb-5 mb-xl-0">
                    <div class="footer-logo">
                        <a href="#">
                            <img src="~/images/finvoiceLogo_WhiteText.png" class="footer-image" alt="Horizon Logo" />
                        </a>
                    </div>

                    <div class="footer-info">
                        <ul>
                            <li>
                                <a href="#" class="info-icon flexBox" id="circle">
                                    <i class="fas fa-phone-alt"></i>
                                </a>
                                <div class="info-content">
                                    <span>0918110701</span>
                                </div>
                            </li>
                            <li>
                                <a href="#" class="info-icon flexBox">
                                    <i class="fas fa-envelope"></i>
                                </a>
                                <div class="info-content">
                                    <span>info@example.com</span>
                                </div>
                            </li>
                            <li>
                                <a href="#" class="info-icon flexBox">
                                    <i class="fas fa-map-marker-alt"></i>
                                </a>
                                <div class="info-content">
                                    <span>FPT University</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-sm-6 ps-5 ps-sm-5">
                <div class="footer-about mt-5 mb-xl-0">
                    <div class="footer-header">
                        <div class="footer-title">
                            <h5>Our links</h5>
                            <div class="footer-underline">
                                <div class="rec1"></div>
                                <div class="rec2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-info">
                        <ul>
                            <li class="hover-link">
                                <div class="info-icon-arrow">
                                    <i class="fas fa-chevron-right"></i>
                                </div>
                                <div class="info-content">
                                    <a href="home">Home</a>
                                </div>
                            </li>
                            <li class="hover-link">
                                <div class="info-icon-arrow">
                                    <i class="fas fa-chevron-right"></i>
                                </div>
                                <div class="info-content">
                                    <a href="">Export Excel</a>
                                </div>
                            </li>
                            <li class="hover-link">
                                <div class="info-icon-arrow">
                                    <i class="fas fa-chevron-right"></i>
                                </div>
                                <div class="info-content">
                                    <a href="#">History</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-sm-6 ps-5 ps-sm-5">
                <div class="footer-about mt-5 mb-xl-0">
                    <div class="footer-header">
                        <div class="footer-title">
                            <h5>Other links</h5>
                            <div class="footer-underline">
                                <div class="rec1"></div>
                                <div class="rec2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-info">
                        <ul>
                            <li class="hover-link">
                                <div class="info-icon-arrow">
                                    <i class="fas fa-chevron-right"></i>
                                </div>
                                <div class="info-content">
                                    <a href="#">FAQ</a>
                                </div>
                            </li>
                            <li class="hover-link">
                                <div class="info-icon-arrow">
                                    <i class="fas fa-chevron-right"></i>
                                </div>
                                <div class="info-content">
                                    <a href="#">Privacy Policy</a>
                                </div>
                            </li>
                            <li class="hover-link">
                                <div class="info-icon-arrow">
                                    <i class="fas fa-chevron-right"></i>
                                </div>
                                <div class="info-content">
                                    <a href="#">Terms & Conditions</a>
                                </div>
                            </li>
                            <li class="hover-link">
                                <div class="info-icon-arrow">
                                    <i class="fas fa-chevron-right"></i>
                                </div>
                                <div class="info-content">
                                    <a href="#">Support</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-sm-6 ps-5 ps-sm-5">
                <div class="footer-about mt-5 mb-xl-0">
                    <div class="footer-header">
                        <div class="footer-title">
                            <h5>Application</h5>
                            <div class="footer-underline">
                                <div class="rec1"></div>
                                <div class="rec2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-download">
                        <a href="#" class="hover-link">
                            <i class="fab fa-google-play"></i>
                            <span>Google Play</span>
                        </a>
                        <a href="#" class="hover-link">
                            <i class="fab fa-apple"></i>
                            <span>App Store</span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="footer-bottom py-3">
        <div class="container">
            <div class="footer-border">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="footer-copy-right">
                            <p>
                                ©
                                <script>document.write(new Date().getFullYear());</script> Existing FInvoice
                                website.
                                All Rights Reserved | Design by <a href="https://www.facebook.com/profile.php?id=100063891461203"
                                                                   target="_blank">FIvoice Team</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>