@page "/change-password"
@model FinvoiceWeb.Pages.ChangePasswordModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@section Style
{
    <link rel="stylesheet" href="~/css/User/ChangePassword.css" />
}

@section Script
{
    <script src="@ViewData["LINK_LOTTIEFILES"]"></script>
    <script src="~/js/User/ChangePassword.js"></script>
}

<div class="container mt-5" style="height: 80vh;">
    <div class="row">
        <div class="setting-body">
            <div class="setting-header">
                <h2 class="setting-header_title">Account</h2>
                <div class="setting-header_content">
                    <h3>Profile</h3>
                    <p>This information will be displayed publicly so be careful what you share</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="setting-form">
                        <form method="POST">
                            <div>
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="setting-form_content">
                                            <label for="oldPassword" class="setting-form_label">Old Password</label>
                                            <div class="setting-form_input">
                                                <input asp-for="ChangePassword.OldPassword" oninput="CheckOldPassword()" onblur="CheckOldPassword()" onkeyup="OldPasswordKeyUp()" type="password" id="oldPassword">
                                                <span class="showBtn" id="show-old-password">
                                                    <i class="fas fa-eye-slash" id="show-old-password-icon"></i>
                                                </span>
                                                <i class='bx bx-check-circle' id="oldPassword-icon-check"></i>
                                                <i class='bx bx-error-circle' id="oldPassword-icon-error"></i>
                                            </div>
                                            <div class="message">
                                                <span asp-validation-for="ChangePassword.OldPassword" class="error-message" id="oldPassword-error">@ViewBag.OldPassword</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="setting-form_content">
                                            <label for="newPassword" class="setting-form_label">New Password</label>
                                            <div class="setting-form_input">
                                                <input asp-for="ChangePassword.NewPassword" oninput="CheckNewPassword()" onblur="CheckNewPassword()" onkeyup="CheckPasswordStrength()" type="password" id="newPassword">
                                                <span class="showBtn" id="show-new-password">
                                                    <i class="fas fa-eye-slash" id="show-new-password-icon"></i>
                                                </span>
                                                <i class='bx bx-check-circle' id="newPassword-icon-check"></i>
                                                <i class='bx bx-error-circle' id="newPassword-icon-error"></i>
                                            </div>
                                            <div class="indicator">
                                                <span class="weak"></span>
                                                <span class="medium"></span>
                                                <span class="strong"></span>
                                            </div>
                                            <div class="error-text"></div>
                                            <div class="message">
                                                <span asp-validation-for="ChangePassword.NewPassword" class="error-message" id="newPassword-error"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="setting-form_content">
                                            <label for="confirmPassword" class="setting-form_label">Confirm Password</label>
                                            <div class="setting-form_input">
                                                <input asp-for="ChangePassword.ConfirmPassword" oninput="CheckConfirmPassword()" onblur="CheckConfirmPassword()" onkeyup="ConfirmPasswordKeyUp()" type="password" id="confirmPassword">
                                                <span class="showBtn" id="show-confirm-password">
                                                    <i class="fas fa-eye-slash" id="show-confirm-password-icon"></i>
                                                </span>
                                                <i class='bx bx-check-circle' id="confirmPassword-icon-check"></i>
                                                <i class='bx bx-error-circle' id="confirmPassword-icon-error"></i>
                                            </div>
                                            <div class="message">
                                                <span asp-validation-for="ChangePassword.ConfirmPassword" class="error-message" id="confirmPassword-error"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="setting-form_button">
                                            <button type="submit" class="setting-form_save">Change Password</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="d-none d-xl-block col-xl-5">
                    <div class="setting-backgound">
                        <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_z3pnisgt.json"
                                       background="transparent" speed="1" loop autoplay class="setting-image"></lottie-player>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
