@page
@model FinvoiceWeb.Pages.ImportListModel
@{
}

<section class="exportExcelList">
    <div class="container">
        <div class="my-3">
            <div class="row">
                <!-- The Modal -->
                <div id="myModal" class="modal">
                    <div class="modal-content">
                        <h2 class="modal__title text-center">File Upload</h2>

                        <div class="model-rectangle mb-3 flexBox">
                            <div class="model__icon">
                                <i class="fa-solid fa-cloud-arrow-up"></i>
                            </div>

                            <div class="model__note">
                                <p>Browse XML File to Upload</p>
                            </div>
                        </div>

                        <div class="model__btn mt-3 flexBox">
                            <div class="btn__import btn-next">
                                <button type="button" class="btn btn-primary btn-lg">Next</button>
                            </div>

                            <div class="btn__import btn-cancel">
                                <button type="button" class="cancel btn btn-danger btn-lg">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Search Box -->
                <div class="col-8">
                    <div class="exportExcelList__btn">
                        <div class="topbar-search">
                            <div id="searchBox">
                                <input class="search-place" type="text" placeholder="Search service">
                                <button class="button-search">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                            </div>
                        </div>

                        <div class="sort__btn">
                            <div id="sortBox">
                                <button class="button-sort flexBox">
                                    <p>Sort</p>
                                    <i class="fa-solid fa-sort"></i>
                                </button>
                            </div>
                        </div>

                        <div class="typeAccountingSoftware__btn">
                            <form action="/action_page.php">
                                <select name="cars" id="cars">
                                    <option value="volvo">Volvo</option>
                                    <option value="saab">Saab</option>
                                    <option value="opel">Opel</option>
                                    <option value="audi">Audi</option>
                                </select>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div id="myBtn" class="importInList flexBox">
                        <div class="import__btn flexBox">
                            <button type="button">Import file</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="exportExcelList__rectangle">
            <ul>
                @foreach (var item in (List<string>)TempData["VALUE_LIST"])
                {
                    <li class="py-2 px-4 xml__file">
                        <div class="file flexBox">
                            <div class="file__left flexBox">
                                <div class="file__img">
                                    <img src="~/images/xml.png" alt="">
                                </div>
                                <p class="file__name">@item</p>
                            </div>

                            <div class="file__right" onclick="ConfirmDeleted()">
                                <i class="fa-solid fa-xmark"></i>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</section>